<!-- afficher une propriété dans l'html -->
<!-- string interpolation -->


<!-- afficher le contenu du tableau data -->
<!-- <ul>
  <li *ngFor="let item of tab">{{item.client}}</li>
</ul> -->

<table class="table">
  <!-- entete du tableau -->
  <thead>
    <tr>
      <th *ngFor='let i of headers' scope="col">{{i}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of tab'>
      <td>Action</td>
      <td>{{item.state}}</td>
      <td>{{item.tva}}</td>
      <td>{{item.name}}</td>
      <td>{{item.totalCaHt}}</td>
      <td>Total TTC</td>
      <td>{{item.comment}}</td>
    </tr>

  </tbody>
</table>

<!--

  ajouter un pipe total totalCaHt * tva
  ajouter pipe currency €
  ajouter btn et lui passer des valeurs
  dans clients/add, ajouter un composant form-client
  dans le composant form-client ajouter les inputs

 -->
