<!-- string interpolation -->
<!-- <h1 class='title'>{{ title }}</h1> -->

<!-- ajouter des composants -->
<!-- composants statiques -->
<!-- composants dynamiques visibles en fonction de l'url -->

<!-- ici on est dans app-root -->
<header class="fixed-top">

  <!-- créer composant header et afficher -->
  <app-header></app-header>

  <!-- ajout evenement au clic -->
  <button (click)='onClick()'>
      <!-- directive -->
      <app-icon-nav *ngIf='open'></app-icon-nav>
      <app-icon-close *ngIf='!open'></app-icon-close>

  </button>


  <!-- afficher app-icon-close -->

  <!--
    btn.addEventListener('click', function(){})
    .classList.toggle()
   -->

   <!-- j'utilise un composant qui contient une icone burger menu + croix -->
   <!-- créer module icons -->
   <!-- créer deux composants à l'intérieur de icons module -->


</header>
<!-- Ici on alterne la classe close-aside en fonction de la valeur de open -->
<main [ngClass]="{'close-aside' : open}">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <app-nav></app-nav>
    </div>
  </aside>
  <div class="page">
    <div class="contents">

      <!-- ici on va avoir des composants dynamiques -->
      <router-outlet></router-outlet>
    </div>

    <footer>
      <app-footer>

      </app-footer>
    </footer>
  </div>
</main>

