<!-- string interpolation -->
<!-- <h1 class='title'>{{ title }}</h1> -->

<!-- ajouter des composants -->
<!-- composants statiques -->
<!-- composants dynamiques visibles en fonction de l'url -->


<header class="fixed-top">

  <!-- créer composant header et afficher -->
  <app-header></app-header>

  <button (click)='onClick()'>Ouvrir/Fermer</button>
  <!--
    btn.addEventListener('click', function(){})
    .classList.toggle()
   -->

</header>
<!-- Ici on alterne la classe close-aside en fonction de la valeur de open -->
<main [ngClass]="{'close-aside' : open}">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <app-nav></app-nav>
    </div>
  </aside>
  <div class="page">
    <div class="contents">

      contenu
    </div>
    <footer>
      <app-footer>
      </app-footer>
    </footer>
  </div>
</main>

